* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  width: 390px;
  height: 844px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 186px;
  display: block;
  margin: 0 auto;
}

.perfil {
  margin-top: 10px;
}

#img-perfil {
  border: 5px solid #f57e7a;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 240px;
}

#faixa {
  background-color: #f57e7a;
  width: 100%;
  height: 37px;

  position: absolute;
  top: 300px;
}
.main-content {
  width: 349px;
  height: 369px;
  background-color: #fbbfbe;
  border-radius: 10px;
  margin-top: 200px;
}

.item {
  background-color: #f57e7a;
  width: 93px;
  height: 80px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.item:hover{
  background-color: #fc9b9a;
}

.fa-brands:hover, .fa-solid:hover {
color: black;
}
.item-center {
  width: 250px;
  height: 178px;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px 42px;
  align-items: center;
}

.fa-brands,
.fa-solid {
  font-size: 58px;
  color: white;
}

.agende-horario {
  background-color: #f57e7a;
  width: 247px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.agende-horario:hover{
  color: black;
  background-color: #f57e7a;
}
.img-design {
  width: 325px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img-design > img {
  height: 88px;
  width: 100%;
  border-radius: 10px;
}

.clique-interagir {
  width: 207px;
  height: 19px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.clique-interagir > img {
  width: 21px;
  height: 19px;
  text-align: justify;
  margin: 0px 5px;

}

.clique-interagir > span {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}
